.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e8f3f9;
  padding: 1rem;
  font-family: Arial, sans-serif;
}


/* Center the form vertically and horizontally */
.add-program-container {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* full screen
  padding: 1rem;
  background-color: #e8f3f9;*/

  width: 100%;
  max-width: 700px;
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.add-program-container h2 {
  margin-bottom: 1rem;
  color: #333;
}

/* Form Styling */
.add-program-container form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #e4fde5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

/* Input fields */
.add-program-container input,
.add-program-container select {
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Button styling */
.add-program-container button {
  background: #33afff;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
}

.add-program-container button:hover {
  background-color: #1e8ae5;
}

/* Message styling */
.add-program-container p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .add-program-container form {
    padding: 15px;
  }

  .add-program-container input,
  .add-program-container select {
    font-size: 12px;
    padding: 0.4rem;
  }

  .add-program-container button {
    font-size: 12px;
    padding: 0.4rem;
  }
}

/* Results Table */
.result-table-wrapper,
.last-rsvp {
  margin-top: 0.2rem;
  overflow-x: auto;
  background: #f9f9f9e4;
  padding: 0.6rem;
  border-radius: 6px;
}

.result-table,
.last-rsvp table {
  width: 100%;
  border-collapse: collapse;
}

.result-table th,
.result-table td,
.last-rsvp th,
.last-rsvp td {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: left;
}

.result-table th,
.last-rsvp th {
  background: #f4f4f4;
  color: #333;
}